.header {
  color: #000;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 10px;
  &__top {
    padding: 10px 100px;
    flex: 1;
    display: flex;
    align-items: center;
    background-color: #242424;
    color: #fff;
  }
  &--section {
    flex: 1;
    &.left {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
    &.center {
      display: flex;
      align-items: center;
      justify-content: center;
      .contact--link {
        position: relative;
        margin-left: 10px;
        transition: all 0.2s;
        &::after {
          content: "";
          position: absolute;
          bottom: -2px;
          left: 0;
          right: 0;
          height: 2px;
          background-color: #fff;
        }
        &:active {
          transform: scale(0.98);
        }
      }
      .location__link {
        color: #acacac;
      }
    }
    &.right {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }
  &__bottom {
    padding: 10px 100px 0;
    flex: 1;
  }
  &__logo {
    margin-right: 20px;
  }
  &__menu {
    flex: 1;
    &--link {
      font-size: 14px;
      font-weight: 600;
      margin-right: 10px;
      cursor: pointer;
      &:last-child {
        margin-right: 0;
      }
      &.red-button {
        padding: 8px 26px;
        border: 2px solid red;
        color: red;
        border-radius: 50px;
      }
    }
  }
  &__buttons {
    justify-content: flex-end;
    .icon {
      margin-right: 20px;
      &:last-child {
        margin-right: 0;
      }
      &.cart-icon {
        position: relative;
        .badge {
          top: -30%;
          right: -30%;
          position: absolute;
          width: 16px;
          height: 16px;
          border-radius: 50%;
          background-color: red;
          color: white;
        }
      }
    }
  }
}

.tablet {
  // position: sticky;
  // top: 0;
  // left: 0;
  // z-index: 999;
  margin-bottom: 10px;
  &__top {
    color: #fff;
    padding: 5px 0;
    background-color: #242424;
    .logo {
      padding: 5px;
      z-index: 100;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #fff;
      border-radius: 50%;
    }
    .daily__schedule {
      margin-left: 20px;
    }
  }
  &__bottom {
    padding: 5px 0;
    background-color: #f00;
    .tablet__search {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      &--input {
        width: 90%;
        padding: 12px 15px;
        display: flex;
        background-color: #fff;
        border-radius: 25px;
        img {
          opacity: 0.3;
        }
        input {
          margin-left: 8px;
          width: 100%;
        }
      }
    }
    .tablet__buttons {
      .button {
        margin-left: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        &:first-child {
          margin-left: 0;
        }
      }
      .cart {
        position: relative;
        .badge {
          position: absolute;
          top: -8px;
          right: -8px;
          width: 17px;
          height: 17px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          background-color: #fff;
          color: #f00;
          font-weight: bold;
        }
      }
    }
  }
}
