$mainColor: #ff0000;
$textColor: #000;
$whiteColor: #fff;

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: #000;
}

input,
textarea,
button {
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: 0;
  outline: 0;
  background-color: $whiteColor;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
}

#root,
.wrapper {
  height: 100%;
}

section {
  margin-bottom: 20px;
}

.container {
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
  @media screen and (max-width: 970px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.df {
  display: flex;
}
.aic {
  align-items: center;
}
.jcc {
  justify-content: center;
}
.jcsb {
  justify-content: space-between;
}
.jcsa {
  justify-content: space-around;
}
.jcfe {
  justify-content: flex-end;
}
.fldc {
  flex-direction: column;
}
.fldr {
  flex-direction: row;
}

.cur {
  cursor: pointer;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  .page-wrapper {
    flex: 1;
  }
}
